h1{
    background-color: blue;
    color :white;
    margin-bottom: 0px;
}
li{
    list-style-type: none;
    background-color:#1e90ff;
}
ul{
    display: grid;
    grid-template-columns: 400px;
    grid-template-rows:25px 25px 50px 200px 50px 50px 50px 25px 25px 100px;

    text-align: center;
    grid-gap:1px;
}

#Tnk{

    font-size:25px;
}
#min{

    font-size:25px;
}
#max{

    font-size:25px;
}
#sit{

    font-size:25px;
}

#tos{

    font-size:30px;
}
