p {
	color: navy;
}

p.info {
	font-size: 10pt;
}

h1 {
	color:white;
	text-shadow:navy 1px 0 10px; 
	
}

h2 {

	margin: 5px;
	font-family: cursive;
	color:#3f3faf;
  background: linear-gradient(90deg in oklab, white,#ffefaf);
}

div#zentai {
	display: grid;
	grid-template-columns: 1fr 1fr;
	flex-direction: row;
	width: 1024px;
	grid-auto-rows:200px 200px;
	grid-gap:10px;
}

div#zentai > div {
	padding: 5px;
	background-color: #ffefaf;

}
p.info{
	font-size: small;
	background-color:#dfdfdf;
}
img {
	float: right;
}